body {
    background-color: black;
    color: red;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 3px 18px;
    background-color: red;
    border-style: none;
}
input {
    height: 20px;
}
